<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input binding</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <div id="app" style="margin: 3em;">
        <input type="text" v-model:value="input" placeholder="Masukkan Kata Kunci">
        <ul>
            <li v-cloak v-if="visible1">{{ books[0]}}</li>
            <li v-cloak v-if="visible2">{{ books[1]}}</li>
            <li v-cloak v-if="visible3">{{ books[2]}}</li>
            <li v-cloak v-if="visible4">{{ books[3]}}</li>
            <li v-cloak v-if="visible5">{{ books[4]}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                input: '',
                x: function () {
                    return this.input.toLowerCase()
                },
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman',

                ],
            },
            computed: {
                visible1: function () {
                    if (this.books[0].toLowerCase().includes(this.x())) {
                        return true
                    }
                },
                visible2: function () {
                    if (this.books[1].toLowerCase().includes(this.x())) {
                        return true
                    }
                },
                visible3: function () {
                    if (this.books[2].toLowerCase().includes(this.x())) {
                        return true
                    }
                },
                visible4: function () {
                    if (this.books[3].toLowerCase().includes(this.x())) {
                        return true
                    }
                },
                visible5: function () {
                    if (this.books[4].toLowerCase().includes(this.x())) {
                        return true
                    }
                }
            }
        })
    </script>
</body>

</html>